.hero{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
.hero-text h1 {
    color: #2d2e32;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 10rem;
    font-weight: 800;
}
.hero-text p {
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}
.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}
.hero-text span a img{
    height: 40px;
    width: 40px;
}
.hero-image img{
        /* -webkit-animation: morph 8s ease-in-out infinite;
        animation: morph 8s ease-in-out infinite; */
        /* background-image:; */
        /* background-position: 50%;
        background-repeat: no-repeat; */
        /* background-size: cover; */
        border: 5px solid #b9b9b9;
        border-radius: 60% ;
        height: 20rem;
        position: relative;
        /* transition: all 1s ease-in-out; */
        width: 20rem;
        margin-top: 4rem;
}